header {
  display: flex;
  height: auto;
  background: linear-gradient(to right, #373b44, #4286f4);
  justify-content: space-between;
  padding: 1em;
  box-shadow: 0px 12px 24px -6px rgba(34, 60, 80, 0.5);
  position: sticky;
  top: 0;
  color: whitesmoke;
}

.header-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  font-size: 1.1rem;
}


