.course-item {
  list-style-type: none;
  border: 1px grey solid;
  border-radius: 0.5em;
  background-color: bisque;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  padding: 1.2em 1em;
}
