.course-item {
  list-style-type: none;
  border-radius: 0.5em;
  background-color: #d3d3d361;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em;
  box-shadow: 0px 1px 5px 0px rgba(95,91,91,0.75);
  transition: all linear 0.3s;
  color: slategrey;
  // cursor: pointer;

  // &:hover {
  //   background-color: honeydew;
  // }
}

.course-item__container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-item__headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.2em;
}


.course-item__title-wrapper {
  display: flex;
}

.course-item__title {
  margin-right: 1em;
}

.course-item__info {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.course-item__duration {
  margin-right: 0.7em;
}

.course-item__controls {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-left: 1em;
}

.course-item__description {
  text-align: justify;
}

.top-rated {
  width: 20px;
  height: 20px;
  background-image: url('./../../../assets/star-icon.svg');
  background-size: cover;
}
