<div class="course-item"
  appExpectedCourse [startCourseDate]="courseItem!.creationDate"
  [ngClass]="courseItem?.topRated ? 'course-item_top-rated': ''"
>
  <div class="course-item__container" >
    <div class="course-item__headline">
      <div class="course-item__title-wrapper">
        <div class="course-item__title">{{courseItem?.title | uppercase}}</div>
        <div [ngClass]="courseItem?.topRated ? 'top-rated': ''"></div>
      </div>
      <div class="course-item__info">
        <div class="course-item__duration">{{courseItem?.duration | durationCourse}}</div>
        <div class="course-item__date">{{courseItem?.creationDate | date:"dd.MM.yyyy"}}</div>
      </div>
    </div>
    <div class="course-item__description">{{courseItem?.description}}</div>
  </div>
  <div class="course-item__controls">
    <button class="btn btn_edit" (click)="onEditClick()">edit</button>
    <button class="btn btn_delete" (click)="onDeleteClick()">delete</button>
  </div>
</div>
