.breadcrumbs-nav {
  display: flex;
  padding: 0;
  justify-content: flex-start;
  width: 40%;
  font-size: 1.2rem;

}

.breadcrumb {
  list-style-type: none;
  text-transform: capitalize;

  &:last-child:not(:only-child):before {
    margin-right: 0;
    content: '/';
    padding: 0.2em;
  }

}

.breadcrumb-link {
  text-decoration: none;
  color: inherit;
}
