.breadcrumbs-nav {
  display: flex;
  padding: 0;
  justify-content: space-between;
  width: 20%;
  font-size: 1.2rem;

}

.breadcrumb {
  list-style-type: none;
  margin-right: 1em;

  &:last-child {
    margin-right: 0;
  }
}

.breadcrumb-link {
  text-decoration: none;
  color: inherit;
}
