<app-header></app-header>

<form [formGroup]="editCourseForm" class="edit-page__container" (ngSubmit)="onSubmit()">

  <app-breadcrumbs></app-breadcrumbs>

    <section class="edit-page__input-section">
      <div class="input-section__message-box"
        [ngClass]="{
          'invalid-input': (editCourseForm.controls['titleCtrl'].invalid),
          'valid-input': editCourseForm.controls['titleCtrl'].valid
        }"
      >
      <label class="input-section__label" for="title" >Title:</label>
      <div class="invalid-input__message" *ngIf="editCourseForm.controls['titleCtrl'].invalid && (editCourseForm.controls['titleCtrl'].touched || editCourseForm.controls['titleCtrl'].dirty) ">This field is required, and shoul be up to 50 letters</div>
    </div>
      <input
        class="input-section__input"
        type="text"
        placeholder="Enter new course title"
        id="title"
        [(ngModel)]="selectedCourse.name"
        formControlName="titleCtrl"
      >
    </section>

    <section class="edit-page__input-section">
      <div class="input-section__message-box"
        [ngClass]="{
          'invalid-input': editCourseForm.controls['descriptionCtrl'].invalid,
          'valid-input': editCourseForm.controls['descriptionCtrl'].valid
        }"
      >
        <label class="input-section__label" for="description">Description:</label>
        <div class="invalid-input__message" *ngIf="editCourseForm.controls['descriptionCtrl'].invalid && (editCourseForm.controls['descriptionCtrl'].touched || editCourseForm.controls['descriptionCtrl'].dirty) ">This field is required, and shoul be up to 500 letters</div>
      </div>

      <textarea
        class="input-section__input input-section__input_textarea"
        type="text"
        placeholder="Enter new course description"
        id="description"
        rows="5"
        cols="50"
        [(ngModel)]="selectedCourse.description"
        formControlName="descriptionCtrl"
      ></textarea>
    </section>

    <app-date-field formControlName="dateCtrl" [childControl]="fromAbsToControl(editCourseForm)">
    </app-date-field>

    <app-duration-field formControlName="durationCtrl" [childControl]="fromAbsToControl(editCourseForm)"></app-duration-field>
    <!--

    <section class="edit-page__input-section">
      <label class="input-section__label" for="authors">Authors:</label>
      <input
        class="input-section__input"
        type="text"
        placeholder="Enter new course authors"
        id="authors"
        [(ngModel)]="courseAuthors"
      >
    </section>
  -->

    <div class="edit-page__controls">

      <button class="btn btn_submit" type="submit" [disabled]="editCourseForm.invalid">Save</button>
      <button class="btn" routerLink="/courses">Cancel</button>
    </div>
  </form>
<app-footer></app-footer>
