.courses-page_container {
  width: 100%;
  background-color: ghostwhite;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.courses-list {
  margin: 0;
  padding: 0;
}

.breadcrumbs-nav {
  display: flex;
  padding: 0;
  justify-content: space-between;
  width: 20%;
  font-size: 1.2rem;

}

.breadcrumb {
  list-style-type: none;
  margin-right: 1em;

  &:last-child {
    margin-right: 0;
  }
}

.breadcrumb-link {
  text-decoration: none;
  color: inherit;
}

.course-page_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.search-bar_input {
  width: 30vw;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px slategray solid;
  box-sizing: border-box;

  &:focus {
    border: 2px slategray solid;
    outline: none;
  }
}

.course-page__empty-message {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding: 2em;
  background-color: #d3d3d361;
  border-radius: 0.5em;
  box-shadow: 0px 1px 5px 0px rgb(95 91 91 / 75%);
  color: slategray;
  font-weight: 900;
}
