<app-header></app-header>

  <div class="courses-page__container" >

    <app-breadcrumbs></app-breadcrumbs>

    <div class="course-page_nav">
      <div class="search-bar">
        <input
          class="search-bar_input"
          placeholder="Text to search"
          [(ngModel)]="searchField"
          (ngModelChange)="onChangeSearchField($event)"
        >
        <button class="btn" (click)="onSearchClick()">Search</button>
      </div>
      <button class="btn" routerLink="./new">Add Course</button>
    </div>

    <app-modal-window
      (acceptDelete)="onAcceptDelete(idToRemove)"
      (declineDelete)="modalWindow?.hideModalWindow()"
    >
    </app-modal-window>

    <ul class="courses-list" >
      <app-course-item
        *ngFor="let course of courses | orderBy"
        [courseItem]="course"
        (deleteCourse)="onDeleteCourse($event)"
      >
      </app-course-item>
    </ul>

    <div class="course-page__empty-message" *ngIf="getIsEmpty()">no data. feel free to add new course</div>
    <button class="btn_load-more btn" *ngIf="!getIsEmpty() && loadMoreBtnIsShown" (click)="onLoadMoreClick()">load more</button>

  </div>

<app-footer></app-footer>
