<div class="courses-page_container">
  <ul class="breadcrumbs-nav">
    <li class="breadcrumb"><a class="breadcrumb-link" href="#">Courses</a></li>
  </ul>

  <div class="course-page_nav">
    <div class="search-bar">
      <input
        class="search-bar_input"
        placeholder="Text to search"
        [(ngModel)]="searchField"
      >
      <button class="btn" (click)="onSearchClick()">Search</button>
    </div>
    <button class="btn" (click)="onAddCourseClick()">Add Course</button>
  </div>

  <ul class="courses-list" >
    <app-course-item *ngFor="let course of courses" [courseItem]="course" [test]="'hello'"></app-course-item>
  </ul>

  <button class="btn btn_load-more" (click)="onLoadMoreClick()">load more</button>

</div>
