<section class="add-page__input-section add-page__input-section_short">
  <div class="input-section__message-box"
    [ngClass]="{
      'invalid-input' : (childControl.get('dateCtrl')?.errors?.['validateDate'].dataInvalid !== null) && (childControl.get('dateCtrl')?.touched || childControl.get('dateCtrl')?.dirty),
      'valid-input' : (childControl.get('dateCtrl')?.errors?.['validateDate'].dataInvalid === null)
    }"
  >
    <label class="input-section__label" for="date">Date:</label>
    <div *ngIf="childControl.get('dateCtrl')?.errors?.['validateDate'].dataInvalid !== null" class="invalid-input__message">{{childControl.get('dateCtrl')?.errors?.['validateDate'].dataInvalid}}</div>
  </div>
  <input
    class="input-section__input"


    type="date"
    placeholder="Enter new course start date"
    id="date"
    [ngModel]="dateValue | date: 'yyyy-MM-dd'"
    (ngModelChange)="onChangeValue($event)"
    >
  </section>

