.add-page__input-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 1em 0;
  align-self: flex-start;
}

.add-page__input-section_short {
  width: 25%;
}

.input-section__message-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.invalid-input__message {
  color: rgb(161, 22, 22);
}

.input-section__label {
  margin-bottom: 0.5em;
}

.input-section__input {
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px slategray solid;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

.invalid-input,
.invalid-input + .input-section__input {
  border-color: rgb(161, 22, 22);
  color: rgb(161, 22, 22);
}

.valid-input,
.valid-input + .input-section__input
 {
  border-color: rgb(8, 131, 8);
  color: rgb(8, 131, 8);
}


