<app-header></app-header>

<form [formGroup]="addCourseForm" class="add-page__container" (ngSubmit)="onSubmit()">
  <section class="add-page__input-section">
    <div class="input-section__message-box"
      [ngClass]="{
        'invalid-input': (addCourseForm.controls['titleCtrl'].invalid && (addCourseForm.controls['titleCtrl'].touched || addCourseForm.controls['titleCtrl'].dirty)),
        'valid-input': addCourseForm.controls['titleCtrl'].valid
      }"
    >
      <label class="input-section__label" for="title" >Title:</label>
      <div class="invalid-input__message" *ngIf="addCourseForm.controls['titleCtrl'].invalid && (addCourseForm.controls['titleCtrl'].touched || addCourseForm.controls['titleCtrl'].dirty) ">This field is required, and shoul be up to 50 letters</div>
    </div>
    <input
      class="input-section__input"
      type="text"
      placeholder="Enter new course title"
      id="title"
      formControlName="titleCtrl"
    >
  </section>

  <section class="add-page__input-section">
    <div class="input-section__message-box"
      [ngClass]="{
        'invalid-input': (addCourseForm.controls['descriptionCtrl'].invalid && (addCourseForm.controls['descriptionCtrl'].touched || addCourseForm.controls['descriptionCtrl'].dirty)),
        'valid-input': addCourseForm.controls['descriptionCtrl'].valid
      }"
    >
      <label class="input-section__label" for="description">Description:</label>
      <div class="invalid-input__message" *ngIf="addCourseForm.controls['descriptionCtrl'].invalid && (addCourseForm.controls['descriptionCtrl'].touched || addCourseForm.controls['descriptionCtrl'].dirty) ">This field is required, and shoul be up to 500 letters</div>
    </div>
    <textarea
      class="input-section__input input-section__input_textarea"

      type="text"
      placeholder="Enter new course description"
      id="description"
      rows="5"
      cols="50"
      formControlName="descriptionCtrl"
    ></textarea>
  </section>

  <app-date-field formControlName="dateCtrl" [childControl]="fromAbsToControl(addCourseForm)">
  </app-date-field>

  <app-duration-field formControlName="durationCtrl" [childControl]="fromAbsToControl(addCourseForm)"></app-duration-field>

  <app-authors-input-field formControlName="authorsCtrl" [childControl]="fromAbsToControl(addCourseForm)"></app-authors-input-field>

  <div class="add-page__controls">
    <button class="btn btn_submit" type="submit" [disabled]="!addCourseForm.valid">Save</button>
    <button class="btn" type="button" routerLink="/courses">Cancel</button>
  </div>
</form>

<app-footer></app-footer>
