<app-header></app-header>

<form [formGroup]="addCourseForm" class="add-page__container" (ngSubmit)="onSubmit()">
  <section class="add-page__input-section">
    <div class="input-section__message-box"
      [ngClass]="{
        'invalid-input': (addCourseForm.controls['titleCtrl'].invalid && (addCourseForm.controls['titleCtrl'].touched || addCourseForm.controls['titleCtrl'].dirty)),
        'valid-input': addCourseForm.controls['titleCtrl'].valid
      }"
    >
      <label class="input-section__label" for="title" >Title:</label>
      <div class="invalid-input__message" *ngIf="addCourseForm.controls['titleCtrl'].invalid && (addCourseForm.controls['titleCtrl'].touched || addCourseForm.controls['titleCtrl'].dirty) ">This field is required, and shoul be up to 50 letters</div>
    </div>
    <input
      class="input-section__input"
      type="text"
      placeholder="Enter new course title"
      id="title"
      formControlName="titleCtrl"
    >
  </section>

  <section class="add-page__input-section">
    <div class="input-section__message-box"
      [ngClass]="{
        'invalid-input': (addCourseForm.controls['descriptionCtrl'].invalid && (addCourseForm.controls['descriptionCtrl'].touched || addCourseForm.controls['descriptionCtrl'].dirty)),
        'valid-input': addCourseForm.controls['descriptionCtrl'].valid
      }"
    >
      <label class="input-section__label" for="description">Description:</label>
      <div class="invalid-input__message" *ngIf="addCourseForm.controls['descriptionCtrl'].invalid && (addCourseForm.controls['descriptionCtrl'].touched || addCourseForm.controls['descriptionCtrl'].dirty) ">This field is required, and shoul be up to 500 letters</div>
    </div>
    <textarea
      class="input-section__input input-section__input_textarea"

      type="text"
      placeholder="Enter new course description"
      id="description"
      rows="5"
      cols="50"
      formControlName="descriptionCtrl"
    ></textarea>
  </section>

  <app-date-field formControlName="dateCtrl" [childControl]="fromAbsToControl(addCourseForm)">
  </app-date-field>

  <div class="add-page__controls">
    <button class="btn btn_submit" type="submit" [disabled]="!addCourseForm.valid">Save</button>
    <button class="btn" type="button" routerLink="/courses">Cancel</button>
  </div>
</form>



  <!-- <div class="add-page__container">
    <section class="add-page__input-section">
      <label class="input-section__label" for="title">Title:</label>
      <input
        class="input-section__input"
        type="text"
        placeholder="Enter new course title"
        id="title"
        [(ngModel)]="newCourse.name"
      >
    </section>

    <section class="add-page__input-section">
      <label class="input-section__label" for="description">Description:</label>
      <textarea
        class="input-section__input input-section__input_textarea"
        type="text"
        placeholder="Enter new course description"
        id="description"
        rows="5"
        cols="50"
        maxlength="300"
        [(ngModel)]="newCourse.description"
      ></textarea>
    </section>

    <section class="add-page__input-section add-page__input-section_short">
      <label class="input-section__label" for="date">Date:</label>
      <input
        class="input-section__input"
        type="date"
        placeholder="Enter new course start date"
        id="date"
        [(ngModel)]="newCourse.date"
      >
    </section>

    <section class="add-page__input-section">
      <label class="input-section__label" for="duration">Duration:</label>
      <div class="input-section__wrapper">
        <input
          class="input-section__input input-section__input_duration"
          type="number"
          placeholder="Enter new course duration in minutes"
          id="duration"
          [(ngModel)]="newCourse.length"
        >
        <div class="represent__duration">{{(newCourse.length === undefined) ? '': newCourse.length | durationCourse}}</div>
      </div>
    </section>

    <section class="add-page__input-section">
      <label class="input-section__label" for="authors">Authors:</label>
      <input
        class="input-section__input"
        type="text"
        placeholder="Enter new course authors"
        id="authors"
        [(ngModel)]="newCourse.authors"
      >
    </section>

    <div class="add-page__controls">
      <button class="btn" (click)="onSaveClick()">Save</button>
      <button class="btn" routerLink="/courses">Cancel</button>
    </div>
  </div> -->

  <!-- <app-course-details></app-course-details> -->

<app-footer></app-footer>
