.add-page__container {
  width: 100%;
  padding: 3em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-page__input-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 1em 0;
  align-self: flex-start;
}

.add-page__input-section_short {
  width: 25%;
}

.input-section__label {
  margin-bottom: 0.5em;
}

.input-section__input {
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px slategray solid;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

.add-page__controls {
  display: flex;
  align-self: center;
  gap: 3em;
  margin-top: 5em;
}

